<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="d-flex mb-2">
        <svg height="58" width="58" class="placeholder-glow me-3">
            <rect width="100%" height="100%" fill="grey"></rect>
        </svg>
        <div class="flex-column">
            <div class="d-flex mb-2 placeholder-glow">
                <span class="placeholder me-3" style="width: 100px"></span>
                <span class="placeholder me-3" style="width: 50px"></span>

            </div>
            <div class="d-flex placeholder-glow">
                <span class="placeholder me-3" style="width: 100px"></span>
                <span class="placeholder me-3" style="width: 100px"></span>
            </div>
        </div>
    </div>
    <div class="d-flex mb-2">
        <svg height="58" width="58" class="placeholder-glow me-3">
            <rect width="100%" height="100%" fill="grey"></rect>
        </svg>
        <div class="flex-column">
            <div class="d-flex mb-2 placeholder-glow">
                <span class="placeholder me-3" style="width: 100px"></span>
                <span class="placeholder me-3" style="width: 50px"></span>

            </div>
            <div class="d-flex placeholder-glow">
                <span class="placeholder me-3" style="width: 100px"></span>
                <span class="placeholder me-3" style="width: 100px"></span>
            </div>
        </div>
    </div>
    <div class="d-flex mb-2">
        <svg height="58" width="58" class="placeholder-glow me-3">
            <rect width="100%" height="100%" fill="grey"></rect>
        </svg>
        <div class="flex-column">
            <div class="d-flex mb-2 placeholder-glow">
                <span class="placeholder me-3" style="width: 100px"></span>
                <span class="placeholder me-3" style="width: 50px"></span>

            </div>
            <div class="d-flex placeholder-glow">
                <span class="placeholder me-3" style="width: 100px"></span>
                <span class="placeholder me-3" style="width: 100px"></span>
            </div>
        </div>
    </div>
</div>
