@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

<div class="@Class">
    <img src="@(HostEnvironment.BaseAddress)icons/FungibleAssetValue/NCG.png" style="width: 16px;margin-right: 3px;" alt="Coin"/> <span>@Price</span>
</div>
@if (UnitPrice != 0 && Math.Abs(UnitPrice - Price) > Tolerance)
{
    <span style="font-size: 0.85em;color: #888;">(@UnitPrice.ToString("0.0000"))</span>
}

@code {
    private const decimal Tolerance = 0.000001M;

    [Parameter] public decimal Price { get; set; }
    [Parameter] public decimal UnitPrice { get; set; }
    [Parameter] public string Class { get; set; } = string.Empty;

}